<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ site.title }}</title>
  <meta property="og:title" content="{{ site.title }}">
  <meta property="og:description" content=" {{ site.description }}">
  <meta property="og:image" content="assets/img/money-meme.jpg">
  <meta property="og:url" content="{{ site.url }}/assets/img/money-meme.jpg">
  <meta name="twitter:card" content="assets/img/money-meme.jpg">

  <meta property="og:site_name" content="How to Get Rich (without getting lucky)">
  <meta name="twitter:image:alt" content="A Thread on How to Get Rich (without getting lucky)">

  <link rel="stylesheet" href="{{ '/css/app.css' | relative_url }}" type="text/css">
  <link
    rel="canonical"
    href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"
  />
</head>
