<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% t page.title %}</title>
  <meta property="og:title" content="{% t titles.global %}">
  <meta property="og:description" content="{% t description %}">
  <meta property="og:image" content="assets/img/money-meme.jpg">
  <meta property="og:url" content="{{ site.url }}/assets/img/money-meme.jpg">
  <meta name="twitter:card" content="assets/img/money-meme.jpg">

  <meta property="og:site_name" content="{% t titles.global %}">
  <meta name="twitter:image:alt" content="{% t description %}">

  <link rel="stylesheet" href="{{ '/css/app.css' | relative_url }}" type="text/css">
  <link rel="canonical"
        href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"/>
</head>
