$black: #111;
$grey: #345;
$bg-grey: #345;
$light-blue: #def;
$mint: #eff;

.black { color: $black; }
.grey { color: $grey; }

.bg-white { background-color: white; }
.bg-grey { background-color: $bg-grey; }
.bg-black { background-color: $black; }
.bg-light-blue { background-color: $light-blue; }
